#explain-button{
  display: inline-block;
  background-color: #6E7B91;
  color: #fff;
  border: 1.5px solid #333;
  font-size: 16px;
  font-weight: 600;
  padding: 0 12px;
  margin: 20px 4px 0 4px;
  text-decoration: none;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 gray;
}

#explain-button:hover{
  background-color: #fff;
  color: #6E7B91;
  box-shadow: none;
}

#explain-button h2{
  margin: 0;
}

#explain-container{
  display: none;
  padding-left: 30px;
  padding-right: 30px;
  font-variant: normal;
  font-size: 14px;
    /*font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;*/
}

#explain-container table.wikitable{
  font-size: 100%;
  margin: 1em 1em 1em 0;
  background-color: #f9f9f9;
  border: 1px #aaa solid;
  border-collapse: collapse;
  color: black;
}

#explain-container th{
  background-color: #f2f2f2;
}

#explain-container th, #explain-container td{
  border: 1px #aaa solid;
  padding: 0.2em;
}
